header {
    width: 1200px;
    height: 120px;
    font-weight: 800;
    div {
        height: 20px;
    }
    nav {
        height: 100px;
        img {
            width: 50px;
        }
        ul {
            width: 800px;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                line-height: 100%;
                height: 100px;
                cursor: pointer;
                display: flex;
                align-items: center;
                transition: box-shadow 0.3s;
                &:hover {
                    color: #0282f9;
                    box-shadow: inset 0 -8px 0 0  #0282f9;
                }
            }
        }
        
        
    }
}